*{
  box-sizing: border-box;
  
}

body{

}

.homepage{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  
  
} 

.login-form input{
width:100%;
margin-bottom:5px;
width:330px

}

.homepage1 {
  display:flex;
  border:1px solid;
  border-radius:4px;
  background: white;
  
  
  
}
.App {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    
  
 
}
.App p{
  margin: 0;
}
.name {
  font-size: 45px;
  margin:0%;
  
}
.pwd input{
  border:none;
}
.Login-btn{
  background-color: #166fe5;
}



